form{
    margin: 0 auto;
  
}
h1{
    color: rgb(85, 238, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    display: table;
    border-color: lightblue;
}

.error{
    color: red;

}